body{
  background: rgb(199, 91, 199);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  
}
.btn{
  background-color: rgb(180, 8, 128);
  padding: 5px;
  width: 70px;
  border-color: 1px solid purple;
  color: #fff;
}
input{
  padding: 5px;
  width: 230px;
}
h2{
  color: #fff;
  margin-top: 50px;
  padding-top: 20px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}
.task-content{
  height: 50px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
h5{
  color: white;
   
}
.btn2{
  background-color: white;
  color: black;
  font-size: 14px;
  margin-left: 10px;
}
.btn2:hover{
  cursor: pointer;
  background-color: red;
}
.btn3:hover{
  cursor: pointer;
  
}
.app{
  background-color: black;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 20px;
  
}
.btnComplete{
  color: #fff;
}
.task-content{
  background-color: purple;
  border: 2px solid white;
  width: 78%;
  margin-left: 42px;
  height: 40px;
}